Repository ESC-CoM/esc-client, pull requests merged in 2022-11, with the labels that each got.

#209 [Feat] 친구 api 연결 및 UI 수정하기
  src/__mocks__/friendMocks.ts
  src/api/auth/index.ts
  src/api/core/index.ts
  src/api/friend/index.ts
  src/components/shared/Button/index.tsx
  src/components/shared/Layout/Header/Basic/index.tsx
  src/components/shared/Layout/Header/ChildrenCategory/index.tsx
  src/components/shared/Layout/Header/ChildrenCategory/style.module.scss
  src/components/shared/Layout/Header/FriendsTab/index.tsx
  src/components/shared/Layout/Header/HeaderChildren/index.tsx
  src/components/shared/Layout/Header/HeaderChildren/style.module.scss
  src/components/shared/Layout/Header/MyMeetingCategory/index.tsx
  src/components/shared/Layout/PageLayout/index.tsx
  src/components/shared/Templates/FriendsList/index.tsx
  src/components/shared/Templates/FriendsList/style.module.scss
  src/constants/auth.ts
  src/constants/headerChildren.tsx
  src/constants/headerMenus.tsx
  src/constants/queryKey/index.ts
  src/hooks/api/auth/index.ts
  src/hooks/api/friend/index.ts
  src/hooks/api/join/index.ts
  src/pages/Friends/Add.tsx
  src/pages/Friends/Delete.tsx
  src/pages/Friends/Main.tsx
  src/pages/Friends/index.ts
  src/pages/Friends/index.tsx
  src/pages/Meeting/MeetingApply.tsx
  src/pages/Meeting/MeetingRegister.tsx
  src/pages/MyMeetingPages/index.tsx
  src/routes/FriendsRoute.tsx
  src/types/apiTypes/auth.d.ts
  src/types/apiTypes/friend.d.ts
Labels: 📡 API, 💻 Feature, 💇🏼‍♂️ UI/UX

#213 [Feat] 미팅 목록 & 디테일 불러오기 API 연동
  src/__mocks__/meetingBoardMocks.ts
  src/__mocks__/meetingDetailMocks.ts
  src/api/home/index.ts
  src/components/Meeting/MeetingDetail/ProfileCardList/ProfileBasicInfo/index.tsx
  src/components/Meeting/MeetingDetail/ProfileCardList/ProfileCard/index.tsx
  src/components/Meeting/MeetingDetail/ProfileCardList/ProfileTagContainer/index.tsx
  src/components/Meeting/MeetingDetail/ProfileCardList/index.tsx
  src/components/Meeting/MeetingHome/index.tsx
  src/constants/queryKey/index.ts
  src/hooks/api/home/index.ts
  src/hooks/useExtractColleges.ts
  src/pages/Meeting/MeetingDetail/index.tsx
  src/pages/Meeting/MeetingHome/index.tsx
  src/routes/MeetingRoute.tsx
  src/types/apiTypes/home.d.ts
  src/types/apiTypes/join.d.ts
  src/types/apiTypes/meetingDetail.d.ts
  src/types/meeting.ts
  src/utils/getQueryString.ts
Labels: 📡 API

#217 [feat] 미팅 신청하기 API 연동
  src/api/home/index.ts
  src/components/shared/Templates/MeetingApplyTemplate/index.tsx
  src/hooks/api/home/index.ts
  src/pages/Meeting/MeetingApply.tsx
  src/pages/Meeting/MeetingDetail/index.tsx
  src/pages/Meeting/MeetingRegister.tsx
  src/routes/MeetingRoute.tsx
  src/types/apiTypes/home.d.ts
Labels: 📡 API

#211 [Feat] 미팅 생성하기 API 연동
  src/api/home/index.ts
  src/components/Join/MoreInfo/GenderInput/index.tsx
  src/components/Join/Term/index.tsx
  src/components/Meeting/MeetingDetail/ProfileCardList/ProfileCard/index.tsx
  src/components/shared/ContentBox/index.tsx
  src/components/shared/ContentBox/style.module.scss
  src/components/shared/Input/index.tsx
  src/components/shared/Templates/MeetingApplyTemplate/index.tsx
  src/components/shared/Templates/MeetingApplyTemplate/style.module.scss
  src/constants/config.ts
  src/hooks/api/home/index.ts
  src/pages/Meeting/MeetingApply.tsx
  src/pages/Meeting/MeetingDetail/index.tsx
  src/pages/Meeting/MeetingRegister.tsx
  src/routes/MeetingRoute.tsx
  src/types/apiTypes/home.d.ts
Labels: 📡 API

#210 [Feat] 회원가입 전화번호 API 연동
  src/api/join/index.ts
  src/components/Join/BasicInfo/PhoneAuth/index.tsx
  src/components/Join/BasicInfo/yup.tsx
  src/constants/queryKey/index.ts
  src/hooks/api/join/index.ts
  src/pages/Join/phoneAuthPage.tsx
  src/types/apiTypes/join.d.ts
Labels: 📡 API

#233 [Feat] 중간 QA 작업
  src/components/Meeting/FriendManager/index.tsx
  src/components/Meeting/FriendManager/style.module.scss
  src/components/shared/Templates/MeetingApplyTemplate/index.tsx
  src/components/shared/Templates/MeetingApplyTemplate/style.module.scss
  src/index.tsx
  src/pages/Meeting/MeetingApply.tsx
  src/pages/Meeting/MeetingRegister.tsx
  src/store/useFriendStore.ts
Labels: 📡 API, 🙌 self-approve, 💇🏼‍♂️ UI/UX
